@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.section_padding {
	@apply pt-20 px-6 sm:px-12 lg:px-20;
}

.basic-shadow {
	box-shadow: #bab8b8f0 0px 5px 10px 2px;
}

.details-p {
	@apply text-gray_color font-semibold text-base;
}

.our-menu-item {
	@apply flex justify-center items-center gap-1 mr-4 font-extrabold text-2xl text-brown_color lg:text-3xl;
}

@media screen and (min-width: 768px) {
	:root {
		@apply text-[18px];
	}
}

@media screen and (min-width: 1060px) {
	:root {
		@apply text-[20px];
	}
}
